<?xml version="1.0" encoding="UTF-8"?>

<!--mybatis-config 추가하기   -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="lprod">
   
   <select id="getLprod4" resultType="lprodVo">
   		select nvl(max(lprod_id),0)+1 maxid from lprod 
   </select>
    
   <select id="getLprod5" resultType="lprodVo">
   		 select count(*)cnt from lprod where lprod_gu=#{lprod_gu} 
   </select>
   
   
   
   
   </mapper>